.productLayout {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .PLLeft {
    margin-top: 2.5em;
  }

  .PLRight {
    margin-top: 2.5em;
    border: 1px solid lightgray;
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px){
  .productLayout {
    .PLRight {
      padding: 3em 1em;
    }
  }
}
@media screen and (max-width: 468px){
  .productLayout {
    .PLRight {
      padding: 3em 1em;
    }
  }
}
