.favourite {
  margin-top: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .favTitle {
    text-align: center;

    h1 {
      font-family: "Rubik";
      font-weight: 500;
      font-size: 35px;
      line-height: 50px;
      color: #0b132a;
    }
    p {
      font-family: "Rubik";
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: #4f5665;
    }
  }
  .favContent {
    width: 100%;

    .favCard {
      margin-top: 10em;

      .favImg {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;

        img {
          border-radius: 50%;
          width: 120px;
          height: 120px;
          z-index: 1;
        }
      }
      .favBox.active {
        border: 2px solid #6a4029;
      }
      .favBox {
        margin-top: -3.5em;
        height: 88vh;
        border: 2px solid #dddddd;
        border-radius: 20px;
        transition: 0.2s ease-in-out;

        &:hover {
          border: 2px solid #6a4029;
        }

        .favDetails {
          height: 68vh;

          h2 {
            font-family: "Rubik";
            padding-top: 4em;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #0b132a;
          }
          .favDetailsInfo {
            font-family: "Rubik";
            font-weight: 500;
            font-size: 13px;
            padding: 10px 0;
            line-height: 30px;
            color: #4f5665;

            span {
              margin-left: 6em;
              margin-right: 1.5em;
            }
          }
        }
        .favPrice {
          font-family: "Rubik";
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          color: #0b132a;
        }
        .favButton {
          margin-top: 1em;
          display: flex;
          justify-content: center;

          button {
            width: 150px;
            height: 50px;
            border: 2px solid #ffba33;
            border-radius: 50px;
            font-family: "Rubik";
            color: #6a4029;
            background: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            transition: all 0.3s ease-in-out;

            &:hover {
              background: #ffba33;
            }
          }
          button.active {
            background: #ffba33;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .favourite {
    .favTitle {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 30px;
        line-height: 40px;
      }
      p {
        width: 70%;
        font-size: 14px;
        line-height: 25px;
      }
    }
    .favContent {
      width: 100%;
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: center;
      .favCard {
        width: 85%;

        .favBox {
          height: 95vh;

          .favPrice {
            margin-top: 2em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 468px) {
  .favourite {
    .favContent {
      .favCard {
        width: 100%;
        margin-top: 5em;

        .favBox {
          height: 90vh;

          .favDetails {
            .favDetailsInfo {
              span {
                margin-left: 5em;
              }
            }
          }
        }
      }
    }
  }
}
