.productMenu {
  margin-top: 2.5em;

  .menuDetails {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;

    .menuItem {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #9f9f9f;
      cursor: pointer;

      &:hover {
        color: #6a4029;

        &::after {
          content: "";
          display: block;
          width: 80%;
          margin: auto;
          padding-top: 8px;
          border-bottom: 3px solid #6a4029;
          margin-bottom: -11px;
        }
      }
    }
    .menuItem.active {
      font-weight: 700;
      color: #6a4029;

      &::after {
        content: "";
        display: block;
        width: 80%;
        margin: auto;
        padding-top: 8px;
        border-bottom: 3px solid #6a4029;
        margin-bottom: -11px;
      }
    }
  }
}
