.homepage {
  height: 100vh;
  width: 100%;
  background: url("../../../public/images/banner.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

  .backgroundBlack {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .banner {
    width: 100%;
    height: 80vh;

    .bannerContent {
      height: 100%;
      padding: 8em 0;
      flex-direction: column;

      h1 {
        width: 60%;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 45px;
        line-height: 70px;
        color: #f0f0f0;
      }
      p {
        width: 40%;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 14px;
        line-height: 30px;
        color: #f0f0f0;
      }
      button {
        margin-top: 1em;
        width: 180px;
        height: 50px;
        border: none;
        outline: none;
        background: #ffba33;
        border-radius: 50px;
        font-family: "Rubik";
        font-weight: 600;
        font-size: 15px;
        color: #6a4029;
        border: 2px solid #ffba33;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: #fff;
          color: #6a4029;
          width: 190px;
        }
        span {
          .bannerIcon {
            margin-left: 10px;
            font-size: 20px;
            transition: transform .5s;

            &:hover {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .homepage {
    background-position: center;

    .banner {
      .bannerContent {
        padding: 7em 0;

        h1 {
          width: 100%;
          font-size: 40px;
          line-height: 60px;
        }
        p {
          width: 90%;
          line-height: 25px;
        }
      }
    }
  }
}
