.center {
  margin-top: 2.5em;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgb(190, 190, 190);
  height: 25vh;
  display: flex;

  .centerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .boxIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #ffba33;

      .icon {
        font-size: 20px;
        color: #6a4029;
      }
    }

    .centerTitle {
      display: flex;
      flex-direction: column;
      font-family: "Rubik";
      font-weight: 500;
      font-size: 16px;
      color: #4f5665;
      padding-left: 1.2em;

      span {
        font-family: "Rubik";
        font-weight: 700;
        font-size: 20px;
        color: #0b132a;
      }
    }
  }
}
