.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;

  .logo {
    display: flex;
    align-items: center;
    padding: 15px 0;

    .imgbox {
      display: flex;
      width: 50%;
      align-items: center;
      cursor: pointer;

      img {
        width: 25px;
        height: 25px;
      }
      h1 {
        margin: auto 0.5em;
        font-size: 20px;
        font-weight: 700;
        color: #0b132a;
        font-family: "Rubik", sans-serif;
      }
    }
    .navmenu {
      width: 100%;
      justify-content: center;
      display: flex;

      .navlinks {
        padding: 0 1.5em;
        font-size: 13px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #4f5665;
        cursor: pointer;

        &:hover {
          color: #6a4029;
        }
      }
      .navlinks.active {
        color: #6a4029;
        font-weight: 700;
      }
    }
    .navbutton {
      display: flex;
      justify-content: flex-end;
      width: 50%;

      button {
        padding: 10px 35px;
        border-radius: 30px;
        border: none;
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: var(--bg-primary);
        background: var(--bg-secondary);
        outline: none;
        border: 2px solid var(--bg-secondary);
        transition: all 0.3s ease-in-out;

        &:hover {
          background: #fff;
        }

        &:nth-child(1) {
          border: none;
          background: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .navIcon {
      display: none;
      .icon {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .logo {
      display: flex;
      justify-content: space-between;
      .navmenu {
        display: none;
      }
      .navbutton {
        display: none;
      }
      .navIcon {
        display: block;
      }
    }
  }
}
