.productMenu {
  margin-top: 2.5em;

  .menuDetails {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;

    .menuItem {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #818181;
      cursor: pointer;

      &:hover {
        color: #6a4029;

        &::after {
          content: "";
          display: block;
          width: 80%;
          margin: auto;
          padding-top: 8px;
          border-bottom: 3px solid #6a4029;
          margin-bottom: -11px;
        }
      }
    }
    .menuItem.active {
      font-weight: 700;
      color: #6a4029;

      &::after {
        content: "";
        display: block;
        width: 80%;
        margin: auto;
        padding-top: 8px;
        border-bottom: 3px solid #6a4029;
        margin-bottom: -11px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .productMenu {
    margin-top: 0;
    .menuDetails {
      padding: 0;
      .menuItem {
        font-size: 12px;
      }
    }
  }
}

.productList {
  margin-top: 4em;

  .listMenu {
    padding: 0 3em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    .menuCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 165px;
      margin-top: 1.5em;
      height: 35vh;

      img {
        border-radius: 50%;
        z-index: 1;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
      .cardBorder {
        display: flex;
        margin-top: -3em;
        padding-top: 5em;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #fff;
        width: 100%;
        height: 100%;
        box-shadow: 0px 1px 20px 0px rgba(57, 57, 57, 0.2);
        border-radius: 10px;
        cursor: pointer;
        transition: .3s ease-in-out;
        border: 2px solid #fff;

        &:hover {
          border: 2px solid var(--bg-secondary);
        }

        h2 {
          font-family: "Poppins";
          font-weight: 600;
          height: 2em;
          font-size: 14px;
          width: 80%;
          color: #222;
        }
        .cardPrice {
          p {
            margin-top: 1em;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 16px;
            color: #222;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .productList {
    .listMenu {
      justify-content: space-evenly;
      padding: 0;
    }
  }
}
